# Build results
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.tmp
*.Backup.tmp
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
packages/
project.lock.json
project.assets.json

# Publish output
publish/

# OS
Thumbs.db
Desktop.ini
.DS_Store
